nav {
    background-color: #333;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

li a:hover {
    background-color: #b8b800;
    color: black;
}

